*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url("rps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background-color: #081b31;
    color: #fff;
    justify-content: center;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height:165px;
    width: 165px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;  /* object covered in the image */
    border-radius: 50%;
}
.choices{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 60px;
    color: #ffffff;
}
.choice:hover{
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: #ffffff;
    
}
.choice:hover {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgb(255, 255, 255);
    transform: translateY(-5px);
    transition: background-color 0.5s ease, border-color 0.5s ease;;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
    color: #ffffff;
}
#msg{
    margin-top: 5rem;
    color: white;
    background-color: black;
    height: 5rem;
    padding: 1rem;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}
@media (max-width: 768px) {
    .score-board {
        flex-direction: column;
        gap: 2rem;
    }

    .choices {
        flex-direction: column;
        gap: 30px;
    }

    h1 {
        font-size: 2.5rem;
        padding: 1rem;
    }
}